*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family:'Lato', 'sans-serif';
  background-color: #fafafa;
}

a{
  text-decoration: none;
}
.bi-bag{
  color: #000;
}
p{
  font-size: 1rem;
  color: #000;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 5px;
  box-shadow: transparent
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #ff4000;
  &:hover{
    background-color: #ff400094;
  }
}


#header{
  width: 100%;
  position: fixed;
  background-color: #fafafa;
  z-index: 100;
}
.navbar{
  display: flex;
  align-items: space-around;
  .navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .1px;
  }
  .navBtn{
    justify-content: center;
  }
}

//HERO
.hero{
  height: 100vh;
  background-image: url("../media/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .heroContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    strong{
      font-family: 'Poppins', sans-serif;
      color: #fff;
      font-size: 64px;
    }
  }
  .shapes{
    position: absolute;
    right: 0;
  }
}

.headphones{
  height: 70vh;
  .headphonesContent{
    display: flex;
    height: 100%;
    .headphonesText{
      display: flex;
      flex-direction: column;
      justify-content: center;
      strong{
        font-family: 'Poppins', sans-serif;
        color: #000;
        font-size: 48px;
        width: 60%;
        line-height: 55px;
      }
      p{
        width: 80%;
        margin: 20px 0 30px 0;
      }
      a{
        width: fit-content;
        padding: 10px 30px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        transition: .5s;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
      }
    }
    .headphonesImg{
      align-self: center;
      img{
        height: 650px;
        margin-top: 1rem;
      }
    }
  }
}
.blackWhite{
  height: 65vh;
  background-image: url("../media/man2.jpg");
  background-position: center;
  background-size: cover;
  .blackWhiteContent{
    display: flex;
    align-items: center;
    height: 100%;
    .blackWhiteText{
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      justify-content: center;
      margin-right: 1.5rem;
      strong{
        font-family: 'Poppins', sans-serif;
        color: #fafafa;
        font-size: 48px;
        line-height: 55px;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      p{
        width: 50%;
        color: #fafafa;
        text-align: end;
      }
    }
  }
}

.review{
  height: 50vh;
}

.footer{
  background-image: url("../media/footer.jpg");
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .footerText{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    strong{
      font-family: 'Poppins', sans-serif;
      color: #fff;
      font-size: 32px;
      font-weight: 600;
    }
  }
}
.developer{
  display: flex;
  background-color: #000;
  height: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  span{
    color: #fff;
  }
}

#shop{
  height: auto;
  display: flex;
  align-items: center;
  .shopText{
    flex-direction: column;
    height: 100%;
    justify-self: center;
    strong{
      font-family: 'Poppins', sans-serif;
      font-size: 48px;
      font-weight: 700;
      color: #000;
      margin-bottom: 1rem;
    }
    p{
      width: 70%;
    }
    .shopPrice{
      margin-top: 1rem;
    }
    span{
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 600;
      align-items: center;
      margin-top: 1.3rem;
      font-weight: 700;
      color: #000;
  
    }
    a{
      width: fit-content;
      padding: 10px 30px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      transition: .5s;
      font-size: 16px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      border: none;
      margin-left: 2.5rem;
      &:hover{
        border: 1px solid #000;
        background-color: transparent;
        color: #000;
      }
    }
  }
}
.circle{
  display: flex;
  margin-top: 1rem;
  #orange{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ff4000;
    margin-right: .4rem;
    border: none;
    animation: 1s;
  }
  #black{
    width: 35px;
    height: 435x;
    border-radius: 50%;
    background-color: #000;
    margin-right: .4rem;
    border: none;
  }
  #golden{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #9b881f;
    border: none;
  }
  
}

.details{
  height: 70vh;
  position: relative;
  background-color: #0A0A0C;
  .details_image{
    text-align: center;
    img{
      z-index: 100;
    }
  }
  .details_text{
    text-align: center;
    h3{
      font-family: 'Poppins', sans-serif;
      color: #fafafa;
      font-size: 48px;
      line-height: 55px;
      font-weight: 600;
      margin: 1.5rem 0rem 1rem 0rem;
    }
    p{
      color: #fff;
      width: 40%;
      margin: auto;
    }
  }
}


.btn-close{
  background-color: transparent !important;
  cursor: pointer !important;
} 


.color{
  background-color: blue;
}

.hidden{
  display: none;
}



.close-btn {
  display: flex;
  align-self: flex-end;
  border: none;
  background: transparent;
  font-size: 12px;
  letter-spacing: 1px;
}

.vaciar-btn{
  width: fit-content;
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: .5s;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  border: none;
  margin-left: 2.5rem;
}


#product{
  display: flex;
  .cartText{
    span{
      color: #000;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }
    p{
      font-size: 14px;
      width: 90%;
    }
  }

}
.tableProduct{
  img{
    margin-left: -.8rem;
  }
}
.tablePrice{
  p{
    font-size: 1.2rem;
  }
}
.tableAmmount{
  input{
    width: 30px;
  }
  button{
    display: inline;
    margin-left: 1.5rem

  }
}



.hidden{
  display: none;
}

.productInput{
  width: 100%;  
  height: 100%;
}

.btnBuy{
  padding: 10px 30px;
  background-color: rgba(30, 235, 47, 0.767);
  color: #fff;
  border: transparent;
  margin-left: -.8rem;
  margin-top: 1rem;
}



.btnRemove{
  padding: 10px 30px;
  background-color: rgba(235, 30, 30, 0.822);
  color: #fff;
  border: transparent;
  margin-left: -.8rem;
  margin-top: 1rem;
  display: block;
}




.inline{
  display: inline;
}

#order{
  height: 50vh;
  display: flex;
  align-items: center;
}

#heroShop{
  height: 60vh;
  background-image: url('../media/bannerShop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  span{
    color: #fafafa;
    font-size: 72px;
    align-self: center;
    font-weight: 600;
  }
}


#lista-productos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
  .card{
    margin: 20px;
  }
  .agregar-carrito{
    padding: 8px 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: transparent;
  }
}
.card-price{
  font-weight: 600;
  font-size: 18px;
}
.bi-bag{
  font-size: 18px;
}


.btn-primary{
  width: 100%;
  border-radius: 0px;
  margin: 10px 0px 10px 0px;
}
.btn-danger{
  width: 100%; 
  border-radius: 0px;
}


.payment{
  height: 55vh;
  .payment_content{
    margin-top: 10vh;
  }
}

#payment_header{
  width: 100% !important;
  background-color: #f8f9fa;
}

#carrito{
  margin-left: -20rem;
}



